<header>
  <div class="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active">
        <img src="assets/images/Logo_CDMX.png" alt="image" class="img-fluid">
        <img src="assets/images/Logo_Dependencia.png" alt="Responsive image" class="img-fluid">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <nav>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/home']"
                routerLinkActive="router-link-active" i18n>Inicio<span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/reporte']"
                routerLinkActive="router-link-active" i18n>Reporte<span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/estado']"
                routerLinkActive="router-link-active">Estado</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="router-link-active" i18n>Admin</a>
            </li>
            <li class="nav-item"></li>
          </ul>
        </nav>
      </div>
    </nav>
    <div class="ribbon ribbon-top-right">
      <span i18n>Versión Beta</span></div>
  </div>
</header>