<footer class="site-footer">
    <div class="card-footer text-center text-muted fixed-bottom">
      @2020 Copyright: Gobierno de la Ciudad de México <br>
      <!--<a href="page-quality.html"> Validaciones</a>-->
      <label for="">
        {{ "LENGUAJE.DESC" | translate }}
        <select #langSelect (change)= "translate.use(langSelect.value)">
          <option *ngFor= "let lang of translate.getLangs()" [value]="lang">
            {{ lang }}
          </option>
        </select>
    </label>
    </div>
</footer>