<app-header-admin></app-header-admin>
<div class="container">
  <div class="text-heading">
    <h1 i18n >Gráficas</h1>
    <p i18n >La primer gráfica muestra el tipo de personas que respondieron la encuesta. La segunda gráfica el numero de reportes resueltos</p>
  </div>
  <div class="chart-diplay">
    <div class="bar">
      <div >
        <canvas id="bar"></canvas>
      </div>
    </div>
    <div class="doughnut">
      <div >
        <canvas id="doughnut"></canvas>
      </div>
    </div>
  </div>
  <br><br>
</div>