
.container-chart{
  width: 100%;
  height: 100%;
}
.bar{
  width: 100%;
  height: 33vw;
  margin-bottom: 2em;
}
.doughnut {
  margin-top: 9.5em;
  position: relative;
  width: 100%;
  height: 50vw;
}
.text-heading {
  margin-top: 16%;
}
