<app-header-no-ribbon></app-header-no-ribbon>
<div class="container">
    <div class="text-heading">
      <br><br>
      <h1>{{ "REPORT.TITLE" | translate }}</h1>
      <br>
      <h2>{{ "REPORT.SUBTITLE" | translate }}</h2>
      <p class="text-secondary">
        {{ "REPORT.DESCRIPTION" | translate }} 
      </p>       
    </div>
    
  
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <hr/>
      
      <div class="container-form">
        <div class="form-row">
          <div class="col">
            <label>{{ "REPORT.NOMBRE" | translate }}</label>
            <input type="text" class="form-control" placeholder="{{ 'REPORT.NOMBRE' | translate }}" name = "nombre" formControlName="nombre" [ngClass]="{'is-invalid': registrationForm.get('nombre').touched && registrationForm.get('nombre').invalid}" [(value)]="text" #nombre (keyup)="updateText(nombre.value)">
            <div class="invalid-feedback"><div>Ingresa tu nombre</div></div>
          </div>
          <div class="col">
            <label >{{ "REPORT.APELLIDO" | translate }}</label>
            <input type="text" class="form-control" placeholder="{{ 'REPORT.APELLIDO' | translate }}" name = "apellido" formControlName="apellido"  [ngClass]="{'is-invalid': registrationForm.get('apellido').touched && registrationForm.get('apellido').invalid}"[(value)]="text" #apellido (keyup)="updateApellido(apellido.value)">
            <div class="invalid-feedback"><div>Ingresa tu apellido</div></div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputEmail1">{{ "REPORT.CORREO" | translate }}</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ 'REPORT.CORREOPLACE' | translate }}" name = "email" formControlName="correo" [ngClass]="{'is-invalid': registrationForm.get('correo').touched && registrationForm.get('correo').invalid}" [(value)]="text" #correo (keyup)="updateCorreo(correo.value)">
          <small id="emailHelp" class="form-text text-muted">{{ "REPORT.PROTECCION" | translate }}</small>
          <div *ngIf="{'is-invalid': registrationForm.get('correo').touched && registrationForm.get('correo').invalid}" class="invalid-feedback">
            <div>Ingresa tu correo</div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">{{ "REPORT.DIRECCION" | translate }}</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="{{ 'REPORT.DIRECCIONPLACE' | translate }}" name = "direccion" formControlName="direccion"  [ngClass]="{'is-invalid': registrationForm.get('direccion').touched && registrationForm.get('direccion').invalid}" [(value)]="text" #direccion (keyup)="updateDireccion(direccion.value)">
          <div class="invalid-feedback"><div>Ingresa tu dirección</div></div>
        </div>
        <div class="form-group">
          <label for="inputAddress2">{{ "REPORT.REFERENCIA" | translate }}</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="{{ 'REPORT.REFERENCIAPLACE' | translate }}" name = "referencia" formControlName="referencia" [(value)]="text" #referencia (keyup)="updateReferencia(referencia.value)">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">{{ "REPORT.PROFESION" | translate }}</label>
          <select class="form-control" id="exampleFormControlSelect1" name = "profesion" formControlName="tipoPersona">
            <option *ngFor="let tipoPersona of tipoPersonas" [value]="tipoPersona" #profesion (keyup)="updateProfesion(profesion.value)">{{tipoPersona}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1" name = "comentario">{{ "REPORT.WRITEREPORT" | translate }}</label>
          <textarea rows="4" type="text" class="form-control" id="inputAddress3" placeholder="" name = "comentario" formControlName="comentario" [ngClass]="{'is-invalid': registrationForm.get('comentario').touched && registrationForm.get('comentario').invalid}" [(value)]="text" #comentarios (keyup)="updateComentarios(comentarios.value)"></textarea>
          <div class="invalid-feedback"><div>Ingresa tu comentario</div></div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlFile1" name = "imagen">{{ "REPORT.IMAGEN" | translate }}</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1" name="imagen" formControlName="imagen">
          <small>Opcional*</small>
        </div>
        <button [routerLink]="['/cliente-enviado']" routerLinkActive="router-link-active" class="btn btn-success" type="button" (click)="onSubmit()" [disabled]="!registrationForm.valid">{{ "REPORT.ENVIAR" | translate }} </button>
        <div *ngIf="!registrationForm.valid">
            <small>Por favor completa los campos para habilitar el botón. </small>
        </div>
      </div>
      <br>
      <hr/>
      <div class="form-group">
        <label for="exampleFormControlInput1">¿Cuentas con un reporte y deseas editarlo? </label>
        <p class="text-secondary">Ingresa el numero de reporte</p> 
        <input type="text" #idReporte class="form-control" id="exampleFormControlInput1" placeholder="Numero de reporte..." >
      </div>
      <br>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="onSubmitReport(idReporte)">
        Edita tu reporte
      </button>
      
      <!-- Modal -->
      <div class="modal fade" *ngIf="idReporte.value" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modifica tu Reporte</h5>
              <h5 class="modal-title" id="exampleModalLabel"></h5>
              
            </div>
            <div class="modal-body" *ngIf="All_reports" >
              <!-- Modal Body--> 
              <div class="form-row">
                <div class="col" *ngIf="nombre2" >
                  <label >{{ "REPORT.NOMBRE" | translate }}</label>
                  <input  type="text" class="form-control-plaintext"  [(ngModel)]="nombre2" placeholder="{{ 'REPORT.NOMBRE' | translate }}" name = "nombre" formControlName="nombre" [(value)]="text" #nombre (keyup)="updateText(nombre.value)" readonly>   
                </div>
              
              
                <div class="col" *ngIf="apellido2">
                  <label >{{ "REPORT.APELLIDO" | translate }}</label>
                  <input type="text" class="form-control-plaintext"  [(ngModel)]="apellido2" placeholder="{{ 'REPORT.APELLIDO' | translate }}" name = "apellido" formControlName="apellido" [(value)]="text" #apellido (keyup)="updateApellido(apellido.value)" readonly> 
                </div>
              </div>
              <div class="form-group" *ngIf="correo2">
                <label for="exampleInputEmail1">{{ "REPORT.CORREO" | translate }}</label>
                <input type="email" class="form-control" [(ngModel)]="correo2" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ 'REPORT.CORREOPLACE' | translate }}" name = "email" formControlName="correo"  [(value)]="text" #correo (keyup)="updateCorreo(correo.value)">
                <small id="emailHelp" class="form-text text-muted">{{ "REPORT.PROTECCION" | translate }}</small>
              </div>
              <div class="form-group" *ngIf="direccion2">
                <label for="inputAddress">{{ "REPORT.DIRECCION" | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="direccion2" id="inputAddress" placeholder="{{ 'REPORT.DIRECCIONPLACE' | translate }}" name = "direccion" formControlName="direccion" [(value)]="text" #direccion (keyup)="updateDireccion(direccion.value)">
              </div>
              <div class="form-group" *ngIf="referencia2">
                <label for="inputAddress2">{{ "REPORT.REFERENCIA" | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="referencia2" id="inputAddress2" placeholder="{{ 'REPORT.REFERENCIAPLACE' | translate }}" name = "referencia" formControlName="referencia" [(value)]="text" #referencia (keyup)="updateReferencia(referencia.value)">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">{{ "REPORT.PROFESION" | translate }}</label>
                <select class="form-control" id="exampleFormControlSelect1" name = "profesion" formControlName="tipoPersona">
                  <option *ngFor="let tipoPersona of tipoPersonas" [value]="tipoPersona"  #profesion (keyup)="updateProfesion(profesion.value)">{{tipoPersona}}</option>
                </select>
              </div>
              
              <div class="form-group" *ngIf="comentario2">
                <label for="exampleFormControlTextarea1" name = "comentario">{{ "REPORT.WRITEREPORT" | translate }}</label>
                <textarea rows="4" type="text" [(ngModel)]="comentario2" class="form-control" id="inputAddress3" placeholder="" name = "comentario" formControlName="comentario" [(value)]="text" #comentarios (keyup)="updateComentarios(comentarios.value)"></textarea>
              </div>
            
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmitUpdate()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      
  </form>
  
  <br><br><br><br><br><br>
</div>
