@charset "UTF-8";

.form-control.ng-pristine {
  background-color: #E0E0E0;
}
.form-control.ng-dirty {
  background-color: whitesmoke;
}

.container #report-number {
  text-align: center;
}

.col{
  z-index: 0;
}

h2{
  margin-bottom: 0.5em;
}

.container button {
  display: block;
  margin: 0 auto;
}

hr {
  margin-top: 10px;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.container .container-report-comments {
  text-align: center;
}

.container .container-report-comments button {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  margin: 5px;
}
#inputAddress{
  display:block !important;
}

.g_map{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
