<app-header-admin></app-header-admin>
<div class="container">
  <br>
    <div class="text-heading">
      <h1>{{ "REPORTADMIN.TITLE" | translate }}</h1>
    </div>
    <a *ngFor="let report of All_reports" class="list-group-item list-group-item-action flex-column align-items-start" [routerLink]="['/reporte-admin']" routerLinkActive="router-link-active" >
      <h2>{{ "REPORTADMIN.SUBTITLE" | translate }} {{report._id}}</h2>
      <p class="text-secondary">{{ "REPORTADMIN.DESCRIPTION" | translate }}</p>  
      <ul id="lista-reportes" class="list-group">
        <li class="text-secondary">{{ "REPORT.NOMBRE" | translate }}</li>  
        <li class="list-group-item">{{ report.nombre }}</li>
  
        <li class="text-secondary">{{ "REPORT.APELLIDO" | translate }}</li>  
        <li class="list-group-item">{{ report.apellido }}</li>
        
        <li class="text-secondary">{{ "REPORT.CORREO" | translate }}</li>  
        <li class="list-group-item">{{ report.correo }}</li>
        
        <li class="text-secondary">{{ "REPORT.DIRECCION" | translate }}</li>  
        <li class="list-group-item">{{ report.direccion }}</li>
        
        <li class="text-secondary">{{ "REPORT.REFERENCIA" | translate }}</li>  
        <li class="list-group-item">{{ report.referencia }}</li>
        
        <li class="text-secondary">{{ "REPORT.PROFESION" | translate }}</li>  
        <li class="list-group-item">{{ report.profesion }}</li>
        
        <li class="text-secondary">{{ "REPORT.WRITEREPORT" | translate }}</li>  
        <li class="list-group-item">{{ report.comentario }}</li>
  
        <li class="text-secondary">{{ "REPORT.IMAGEN" | translate }}</li>  
        <br>
      </ul>
      <div class="container-report-comments">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">{{ "REPORTADMIN.COMENTARIO" | translate }}</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <a [routerLink]="['/reporte-enviado']" routerLinkActive="router-link-active"  class="btn btn-success">Enviar</a>
      </div>
    </a>  
    <br>
    <div class="border-top my-3"></div>
    <br>

    <br><br><br><br><br>
</div>