
<app-header></app-header>
<div class ="container-top">
  

<div class="container">
  <div class = "text-heading">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{ "HOME.BIENVENIDO" | translate }}
      <small></small>
    </h1>
    <div *ngIf="auth.loggedIn" class="alert alert-success" role="alert">
      Hola, te encuentras como administrador. 
    </div>
    <h2> {{ "HOME.SUBTITLE" | translate }}</h2>
    <!-- Image Header -->
    <img @enterState class="img-fluid rounded mb-4" src="assets/images/cdmx.jpg" alt="">
  </div>
    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">{{ "HOME.MAKEREPORT" | translate }}</h4>
          <div class="card-body">
            <p class="card-text">{{ "HOME.REPORTDESC" | translate }}</p>
          </div>
          <div class="card-footer">
            <a [routerLink]="['/reporte']" routerLinkActive="router-link-active"  class="btn btn-primary">{{ "HOME.MAKEREPORT" | translate }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">{{ "HOME.CHECKSTATUS" | translate }}</h4>
          <div class="card-body">
            <p class="card-text">{{ "HOME.STATUSREPORT" | translate }}</p>
          </div>
          <div class="card-footer">
            <a [routerLink]="['/estado']" routerLinkActive="router-link-active"  class="btn btn-primary">{{ "HOME.CHECKSTATUS" | translate }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">{{ "HOME.THEPLATFORM" | translate }}</h4>
          <div class="card-body">
            <p class="card-text">{{ "HOME.THEPLATFORMDESC" | translate }}</p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/Sistema-de-Reportes-de-Fugas/" class="btn btn-primary">{{ "HOME.THEPLATFORM" | translate }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  <br><br>
  <br>
</div>
</div>