
<app-header></app-header>
<div class ="container-top">
  

<div class="container">
  <div class = "text-heading">
    <!-- Page Heading/Breadcrumbs -->
    <h1 i18n class="mt-4 mb-3">¡Bienvenido!
      <small></small>
    </h1>
    <div i18n *ngIf="auth.loggedIn" class="alert alert-success" role="alert">
      Hola, te encuentras como administrador. 
    </div>
    <h2 i18n>Sistema de reportes de fuga de agua de la Ciudad de México</h2>
    <!-- Image Header -->
    <img @enterState class="img-fluid rounded mb-4" src="assets/images/cdmx.jpg" alt="">
  </div>
    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 i18n class="card-header">¡Reporta!</h4>
          <div class="card-body">
            <p i18n class="card-text">Muchas gracias por tu contribución con la ciudad. Si deseas realizar un reporte de fuga de agua, da clic aquí.</p>
          </div>
          <div class="card-footer">
            <a i18n [routerLink]="['/reporte']" routerLinkActive="router-link-active"  class="btn btn-primary">Reporte</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 i18n class="card-header">Estado</h4>
          <div class="card-body">
            <p i18n class="card-text">Si ya hiciste un reporte y deseas saber si la fuga ya fue compuesta, da clic aquí.</p>
          </div>
          <div class="card-footer">
            <a i18n [routerLink]="['/estado']" routerLinkActive="router-link-active"  class="btn btn-primary">Estado</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 i18n class="card-header">La Plataforma</h4>
          <div class="card-body">
            <p i18n class="card-text">Si deseas saber mas información de esta plataforma da clic aquí.</p>
          </div>
          <div class="card-footer">
            <a i18n href="https://github.com/Sistema-de-Reportes-de-Fugas" class="btn btn-primary">Explicación</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  <br><br>
  <br>
</div>
</div>