<app-header-no-ribbon></app-header-no-ribbon>
<div class="container">
 
  <div class="text-heading">
    <div id="report-number">
      <br><br><br>
      <h1 i18n>¡Tu reporte ha sido enviado!</h1>
      <br>
      <h2 i18n>El número de reporte es:</h2>
      
      <div *ngIf="numeroReporte">
        <h3>{{numeroReporte}}</h3>
      </div>
    </div>
    <br><br>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="btn btn-success" role="button" i18n>Regresar a Inicio</a>
  </div>
 </div>  
  
<br><br><br>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
